#SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
#
#RewriteEngine on
#RewriteBase /apistock
#
#RewriteCond %{REQUEST_URI} !^/apistock/public/
#RewriteRule ^(.*)$ /apistock/public/index.php [L]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/index.php [L]
